<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: cyan;">
    <h1>Conditional </h1>
    <!-- <center style="background-color:cyan;">
        <h1 style="color: blue;">Conditional Statements</h1>
        {% if a > b and a > c %}
            <h1>a={{a}} is max</h1>
        {% elif b > c %}
            <h1 style="color: blueviolet;">b={{b}} is max</h1>
        {% else %}
            <h1> c={{c}} is max</h1>
        {% endif%}
    </center>  -->


    <center>
        <h1>nested functions</h1>
        <!-- {% if a > b %} 
            {% if a > c %}
                <h1> a is max </h1>
            {% else %}
                <h1> c is max</h1>
            {% endif %}
        {% elif b > c %}
            <h3>b is max </h3>
        {% else %}
            <h1> c is max </h1>
        {% endif %}-->
        {% for i in n %}
            <h1>{{i}}</h1>
        {% endfor %}
    </center>
</body>
</html>